<h1>Hubot Script Catalog</h1>

<p class="meta">
  Sort:
    <%= link_unless_current 'Alphabetically', '/' %> |
    <%= link_unless_current 'Recently updated', '/recent' %>
  <br>
  Last updated: <%= ((Time.now - @last_updated) / 60).round %> mins ago
</p>

<% @scripts.each do |script| %>
  <div class="script" id="<%= h script['name'] %>">
    <div class="header">
      <h2>
        <a href="https://github.com/github/hubot-scripts/blob/master/src/scripts/<%=h script['name'] %>" class="name">
          <%= h script['name'] %>
        </a>
      </h2>
      
      <% if script['author'].present? %>
        <span class="author">by <%= format_authors script['author'] %></span>
      <% end %>
    </div>
    
    <div class="about">
      
      <% if script['description'].present? %>
        <p class="description"><%= format_description script['description'] %></p>
      <% end %>
  
      <% if script['commands'].present? %>
        <h3>Commands</h3>
        
        <div class="commands">
          <pre><%= h script['commands'] %></pre>
        </div>
      <% end %>
  
      <% if script['configuration'].present? %>
        <h3>Configuration</h3>
        
        <div class="commands">
          <pre><%= h script['configuration'] %></pre>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<p class="meta">
  <a href="https://github.com/Aupajo/hubot-script-catalog">Fork on GitHub</a>
</p>